@page
@model ProductoModel


<div class="container my-5">
    <div class="d-flex justify-content-between">
        <a class="back-dashboard" href="Dashboard">
            <img src="https://img.icons8.com/ios-filled/50/000000/back.png" />
            Dashboard
        </a>
        <button type="button" class="btn btn-primary crear" data-toggle="modal" data-target="#Crear">
            Crear Producto
        </button>
        </div>
    </div>
</div>
    

<!--  
    <div>
        <table class="table table-responsive-xl">
            <thead class="header-tabla">
                <tr>
                    <th class="header-tabla-titulo">Nombre Producto</th>
                    <th class="header-tabla-titulo">descripcion</th>
                    <th class="header-tabla-titulo">Marca</th>
                    <th class="header-tabla-titulo">Categoria</th>
                    <th class="header-tabla-titulo">Fecha Creacion</th>
                    <th class="header-tabla-titulo">Fecha Actualizacion</th>
                    <th class="header-tabla-titulo">Acciones</th>
                </tr>
            </thead>
         
            <tbody class="table-body">
                @foreach (var product in Model.ProductsList)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.Description</td>
                        <td>@product.Brand.BrandName</td>
                        <td>@product.Category.CategoryName</td>
                        <td>@product.CreationDate</td>
                        <td>@product.ModificationDate</td>

                        <td class="text-center">
                            <a asp-page="/ProductoEdit" asp-route-productId="@product.Id"><i
                                class="far fa-edit fa-2x"></i></a>
                            <a asp-page="/ProductoDelete" asp-route-productId="@product.Id"><i
                                class="fas fa-trash-alt fa-2x"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
-->
<!-- Modal -->

<div class="modal fade" id="Crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" asp-for="Product.Id" />
                    <div class="form-group">
                        <label for="nombre-producto">Nombre producto</label>
                        <input type="text" class="form-control" asp-for="Product.ProductName"
                            placeholder="Nombre Producto">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" asp-for="Product.Description" 
                            placeholder="Ingrese informacion adicional">
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <select class="form-control" asp-for="Product.BrandId">
                            <option value="">Seleccionar una marca</option>
                             @foreach (var brand in Model.BrandsList)
                             {
                                <option value=@brand.Id>@brand.BrandName</option>
                             }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" asp-for="Product.CategoryId">
                            <option value="">Seleccionar una categoría</option>
                            @foreach (var categoria in Model.CategoriesList)
                            {
                                <option value=@categoria.Id>@categoria.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Crear Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Nueva tabla-->
<div class="container-table">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead class="first-column-table">
            <tr style="text-center">
                <th class="color-texto">Nombre Producto</th>
                <th class="color-texto">descripcion</th>
                <th class="color-texto">Marca</th>
                <th class="color-texto">Categoria</th>
                <th class="color-texto">Fecha Creacion</th>
                <th class="color-texto">Fecha Actualizacion</th>
                <th class="color-texto" style="text-align:center;width:100px;">Acciones</th>
            </tr>
        </thead>
       <tbody class="table-body">
                @foreach (var product in Model.ProductsList)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.Description</td>
                        <td>@product.Brand.BrandName</td>
                        <td>@product.Category.CategoryName</td>
                        <td>@product.CreationDate</td>
                        <td>@product.ModificationDate</td>

                        <td class="text-center">
                            <a class="btn btn-success" asp-page="/ProductoEdit" asp-route-productId="@product.Id"><i
                                class="far fa-edit fa-1x"></i></a>
                            <a class="btn btn-danger" asp-page="/ProductoDelete" asp-route-productId="@product.Id"><i
                                class="fas fa-trash-alt fa-1x"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
</div>
