@page
@model ProveedorModel


<div class="container my-5">
    <h2>Proveedores</h2>
    <div class="d-flex justify-content-between">
        <a  href="Dashboard">
            <!-- FontAwesomw -->
        </a>
        <div class="button-search">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Crear">
                Crear Proveedor
            </button>
        </div>
    </div>

    <br/>

    <div>
        <table class="table table-responsive-xl">
            <thead class="header-tabla">
                <tr>
                    <th class="header-tabla-titulo">Nit</th>
                    <th class="header-tabla-titulo">Nombre proveedor</th>
                    <th class="header-tabla-titulo">Dirección</th>
                    <th class="header-tabla-titulo">Telefono</th>
                    <th class="header-tabla-titulo">Correo</th>
                    <th class="header-tabla-titulo">Fecha Creacion</th>
                    <th class="header-tabla-titulo">Fecha Actualizacion</th>
                    <th class="header-tabla-titulo">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var supplier in Model.SuppliersList)
                {
                    <tr>
                        <td>@supplier.Nit</td>
                        <td>@supplier.SupplierName</td>
                        <td>@supplier.Address</td>
                        <td>@supplier.Phone</td>
                        <td>@supplier.Email</td>
                        <td>@supplier.CreationDate</td>
                        <td>@supplier.ModificationDate</td>
                        <td class="text-center">
                            <a asp-page="/ProveedoresEdit" asp-route-supplierId="@supplier.Id"><i class="far fa-edit fa-2x"></i></a>
                            <a asp-page="/ProveedoresDelete" asp-route-supplierId="@supplier.Id"><i class="fas fa-trash-alt fa-2x"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>  



<!-- Modal -->
<div class="modal fade" id="Crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" asp-for="Supplier.Id" />
                    <div class="form-group">
                        <label for="razon_social">Razón Social</label>
                        <input type="text" class="form-control" asp-for="Supplier.SupplierName" placeholder="Razón Social">
                    </div>
                    <div class="form-group">
                        <label for="nit">NIT</label>
                        <input type="text" class="form-control" asp-for="Supplier.Nit" placeholder="NIT">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Direccion</label>
                        <input type="text" class="form-control" asp-for="Supplier.Address" placeholder="Direccion">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefono</label>
                        <input type="tel" class="form-control" asp-for="Supplier.Phone" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="tel" class="form-control" asp-for="Supplier.Email" placeholder="Email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Crear proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- eliminar -->
<div class="modal fade" id="eliminar-proveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mensage-eliminar">
                       <p>¿Esta seguro que desea <span>borrar</span> el registro?</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Eliminar proveedor</button>
            </div>
        </div>
    </div>
</div>
